.dropdown-item {
	display: flex;
	width: 100%;
	align-items: center;
	gap: var(--size-3);
	padding: var(--size-2\.5) var(--size-4);
}

.dropdown-item:hover {
	background-color: var(--gray-100);
}

:is(.dark) .dropdown-item:hover {
	background-color: var(--gray-700);
}
