.card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-radius: var(--radius-2xl);
	padding: var(--size-4);
	color: var(--white);
	background-color: rgb(161, 161, 170);
}

.card header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: var(--font-3xl);
	line-height: var(--line-height-3xl);
	font-weight: var(--font-bold);
}
.card header svg {
	width: var(--size-20);
	height: var(--size-14);
}

.image {
	display: flex;
	justify-content: center;
	align-items: center;
}
.image img {
	width: var(--size-40);
	height: var(--size-24);
}

@media (min-width: 640px) {
	.image img {
		height: var(--size-52);
		width: var(--size-80);
	}
}

.credentials {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	font-weight: var(--font-semibold);
}
