.layout-wrapper {
	background-color: var(--gray-100);
	margin-top: var(--size-12);
}

:is(.dark) .layout-wrapper {
	background-color: var(--gray-800);
}

@media (min-width: 640px) {
	.layout-wrapper {
		padding-left: 60px;
		margin-top: 0;
	}
}

@media (min-width: 768px) {
	.layout-wrapper {
		padding-left: var(--size-24);
	}
}
